<section>
  <div class="container">
    <div class="card">
      <img src="../../../assets/img/landdingPageDentista.png" alt="pagina inicial do projeto">
      <h4>Modelo Medicina</h4>
      <p>Dentista, biomedica(o), tratamento especifico ou aparelhos</p>
      <div class="button">
        <a href="https://github.com/lucasbranndao/landingPageDentista" target="_blank"><button>código</button></a>
        <a href="https://lucasbranndao.github.io/landingPageDentista/" target="_blank"><button>Site</button></a>
      </div>
    </div>
  </div>
</section>
