
<div class="titlePersonagem">
  <h1 class="nome">{{nome}} {{sobrenome}}</h1>
    <p class="escolaridade">Redes de computadores - Fac. Objetivo</p>

  <div class="empregoAtual">
    <i class="fa-solid fa-crown"></i>
    <p>Controladoria-Geral do Estado de Goias</p>
  </div>

  <div class="funcaoAtual">
    <i class="fa-solid fa-laptop-code"></i>
    <p>{{profissao}} {{areaAtuacao}}</p>
  </div>


</div>

<div class="listaCursosConcluidos">
  <h3 class="tituloCursosConcluidos">Cursos Concluidos:</h3>

  <div class="cursosConcluidos">
  <i class="fa-sharp fa-solid fa-graduation-cap"></i>
    <p>JavaScript do básico ao avançado com Node.js</p>
  </div>

  <div class="cursosConcluidos">
  <i class="fa-sharp fa-solid fa-graduation-cap"></i>
    <p class="cursosConcluidos">Desenvolvimento web com php e banco de dados mysqli</p>
  </div>

  <div class="cursosConcluidos">
  <i class="fa-sharp fa-solid fa-graduation-cap"></i>
    <p >React do zero à maestria com hooks, router e API</p>
  </div>

  <div class="cursosConcluidos">
  <i class="fa-sharp fa-solid fa-graduation-cap"></i>
    <p>SASS e SCSS do básico ao avançado</p>
  </div>

  <div class="cursosConcluidos">
  <i class="fa-sharp fa-solid fa-graduation-cap"></i>
    <p>Webmaster Front-End  com angular</p>
  </div>

</div>

<div class="listaCursosAndmentos">
  <h3 class="tituloCursosAndmentos">Cursos em andamentos:</h3>
  <div class="cursosAndmentos">
    <i class="fa-solid fa-hourglass-start"></i>
    <p >Angular com Typescript do básico ao avançado</p>
  </div>

  <div class="cursosAndmentos">
  <i class="fa-solid fa-hourglass-start"></i>
    <p>Webmaster Front-End  com angular 2.0</p>
  </div>

  <div class="cursosAndmentos">
  <i class="fa-solid fa-hourglass-start"></i>
    <p>Inglês básico</p>
  </div>
  </div>

  <div class="listaCursosFazer">
    <h3 class="tituloCursosFazer">Cursos a fazer:</h3>
  <div class="cursosFazer">
  <i class="fa-solid fa-star"></i>
    <p class="cursosFazer">Desenvolvimento Responsivo com HTML, CSS3 e JavaScript</p>
  </div>

  <div class="cursosFazer">
  <i class="fa-solid fa-star"></i>
    <p>React Native: Desenvolva APPs para Android e IOS</p>
  </div>

  <div class="cursosFazer">
  <i class="fa-solid fa-star"></i>
    <p>Figma UI UX Design Essentials</p>
  </div>

  <div class="fotoPersonagem">
    <img src="../../../assets/img/fotoPersonagem.svg" alt="foto do personagem">
  </div>

