<div class="containerHome">
  <div class="containerHomeApresentacao ">
    <p class="homeLinhaAmarela animate__animated animate__flash"></p>
    <div class="homeOla ">Olá, eu sou o Lucas Brandão!</div>
    <h1>Desenvolvedor <span>Front-End</span></h1>
    <h5>É um prazer ter você aqui!</h5>

    <div class="homeIcones">
      <a href="https://www.linkedin.com/in/lucasbranndao/" target="_blank" alt="link para o linkedin">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
      <a href=" https://wa.me/5562998684030" target="_blank"><i class="fa-brands fa-whatsapp"></i>
      </a>
      <a href="mailto:lbrandao@gmail.com" target="_blank"><i class="fa-regular fa-envelope"></i>
      </a>
    </div>
  </div>
  <div>
    <img src="../assets/img/homeHabilidades.svg" alt="minhas habilidades">
    <!-- <a href="../assets/img/homeHabilidades.svg" class="homeHabilidades">aaa</a> -->
  </div>
</div>
