

<section class="titulo">
  <div class="fotoTopo">
    <img src="../../../assets/img/fotoExperienciaTopo.svg" alt="foto topo">
  </div>

  <div class="nivelSenior">
    <h1>Analista de suporte sênior e Desenvolvedor Jr.
      na <span>CGE-GO</span></h1>

      <div class="metodoTrabalho">
      <img src="../../../assets/img/metodoTrabalho.svg" alt="metodo de trabalho">
    </div>
  </div>

</section>

<section class="meusProjetos">
  <div class="titulosMeusProjetos">
    <h2>Meus <span>projetos:</span></h2>

  </div>

</section>
<app-card></app-card>
