<div class="fotoTopo">
  <img src="" alt="">
</div>

<div class="nivelSenior">
  <h1>Analista de suporte sênior e Desenvolvedor Jr.
    na <span>CGE-GO</span></h1>
</div>

<div class="metodoTrabalho">
  <div class="mentoria">
    <p>Mentoria</p>
  </div>

  <div class="atividades">
    <p>Atividades</p>
  </div>

  <div class="principios">
    <p>Princípios</p>
  </div>

  <div class="atuacao">
    <p>Atuação</p>
  </div>

  <div class="aarticipacao">
    <p>Participação</p>
  </div>


</div>

<h2>Meus <span>projetos:</span></h2>

<div class="projetosAtuados">

</div>

<div class="fotoBotton">
  <img src="" alt="">
</div>

