


section{
  display: flex;
  flex-direction: row;
  /* margin: 50px 0px 0px 50px; */

}
.fotoTopo{
  margin-top: 80px;

}
.nivelSenior > h1{
  font-family: "Source Serif Pro", sans-serif;
  margin: 150px 0px 0px 30px;

}

.nivelSenior  span{
  color: #F5DF4D;
  font-weight: bold;

}
.metodoTrabalho{
  margin: 60px 0px 0px 30px;

}

.titulosMeusProjetos > h2{
  font-family: "Source Serif Pro", sans-serif;
  font-weight: bold;
  margin: 25px 0px 0px 30px;

}

.titulosMeusProjetos h2 >span{
  color: #F5DF4D;

}
