 <div class="containerNavBar">
    <nav class="navBar">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active " aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Experiência</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre</a>
        </li>
      </ul>
    </nav>
  </div>
<body>
  <div class="containerHomeApresentacao">
      <p class="homeOlaSpan"></p>
      <div class="homeOla">Olá, eu sou o Lucas Brandão</div>
      <h2>Desenvolvedor <span>Full Stack</span></h2>
      <h5>É um prazer ter você aqui!</h5>
      <div class="homeHabilidades">
        <!-- <img src="../img/homeIcones.svg" alt="icones das habilidades"> -->
      </div>
      <div class="homeIcones">
        <a href="https://www.linkedin.com/in/lucasbranndao/" target="_blank" alt="link para o linkedin">
          <i class="fa-brands fa-linkedin-in"></i>
        </a>
        <a href=" https://wa.me/5562998684030" target="_blank"><i class="fa-brands fa-whatsapp"></i>
        </a>
        <a href="mailto:lbrandao@gmail.com" target="_blank"><i class="fa-regular fa-envelope"></i>
        </a>
      </div>
  </div>

</body>
