<body>
  <div class="containerNavBar">
    <nav class="navBar">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link button" routerLink="/" routerLinkActive="activebutton"
          ariaCurrentWhenActive="page">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link button" routerLink="/experiencia" routerLinkActive="activebutton"
          ariaCurrentWhenActive="page">Experiência</a>
        </li>
        <li class="nav-item button">
          <a class="nav-link" routerLink="/sobre" >Sobre</a>
        </li>
      </ul>
    </nav>
  </div>


  <router-outlet></router-outlet>
</body>

